<h2>Search results for &lsquo;{{q}}&rsquo;</h2>

{{#if noResults}}
<section class="no-results">
  Sorry, nothing matches your query.
</section>
{{/if}}

{{> logs logs=logs }}

{{> pagination pagination=pagination }}