<layout-use ("../layouts/default.marko")>
    <layout-put into="content">

      <h2>Add a new entry below</h2>
      
      <form action="/log" method="POST">

        <div if=(data.error) class="error">
          ${data.error}
        </div>

        <input type="text" class="add-entry" name="msg" required />

        <input type="submit" value="Add" class="btn" />

      </form>

    </layout-put>
</layout-use>