* {
    box-sizing: border-box;
    margin-top: 0;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 1rem;
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

h1 {
  font-weight: 300;
  margin-bottom: 1em;
}

h2 {
  font-weight: 400;
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

.btn {
  background: #fff;
  border: 1px solid #777;
  padding: 0.25rem 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.error {
  color: red;
}