header {
  margin-bottom: 1rem;
}

.logo {
  margin-top: 0;
  margin-bottom: 0.5em;

  &:before {
    content: "<";
    display: inline-block;
  }
  &:after {
    content: "/>";
    display: inline-block;
    margin-left: 0.2em;
  }
}

.search-form {
  float: right;
}