.entry {
  margin-bottom: 15px;

  &:hover {
    padding-right: 75px;
    time {
      font-weight: bold;
    }
  }

  .update-form {
    input[type="text"] {
      border: none;
      border-bottom: 2px solid #ccc;
      margin-bottom: -5px;
      outline: none;
      padding: 0 0 3px;
      width: 100%;
    }
    
    // Interaction Styles
    input[type="text"] {
      opacity: 0;
      position: absolute;
      z-index: 1;
    }
    label {
      position: relative;
      z-index: 2;
    }
    input[type="text"]:focus {
      opacity: 1;
      position: relative;
      z-index: 3;

      + label {
        display: none;
      }
    }
  }

  .delete-form {
    display: none;
    float: right;
    margin-right: -75px;
    margin-top: -5px;
    position: relative;
    z-index: 4;
  }
  &:hover .delete-form {
    display: block;
  }
}